<component name="libraryTable">
  <library name="spring-web-3.2.0.RELEASE">
    <CLASSES>
      <root url="jar://E:/资料/数梦自学资料系列/Springmvc+Mybatis由浅入深全套视频教程/springmvc/day01/res/jar包/spring-framework-3.2.0.RELEASE-dist/spring-framework-3.2.0.RELEASE/libs/spring-web-3.2.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>